<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1511671782779-c97d3d27a1d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);">
  <div class="container">
    <h1>Welcome to Rock'in' Rooms</h1>
    <p>Find a room to rock!</p>
    <%= button_to "Search now!", rooms_path, :id => "open-contacts-dialog-btn",
      :class => "btn btn-flat", :method => :get %>
      <br><br>
      <% if !user_signed_in? %>
         <%= button_to "Sign in", new_user_session_path, :id => "open-contacts-dialog-btn",
      :class => "btn btn-flat" %>
      <% end %>

  </div>
</div>
