.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #70D0F9;
  transition: background 0.3s ease;
  width: 150px;
  // height: 45px;
  font-weight: lighter;
}

.btn-flat:hover {
  background: #5cbce6;
  color: white;
}
