.search1 {
  color: black;
  font-family: Helvetica;
  border-radius: 4px;
}

.search2 {
  color: black;
  font-family: Helvetica;
  border-radius: 20px;
}

.search3 {
  color: black;
  font-family: Helvetica;
}

.search4 {
  color: black;
  font-family: Helvetica;
  margin-top: 30px;
}

.form-wrapper {
  padding-top: 80px;
}
